<script>
    import CryptoJS from 'crypto-js'
    import { onMount } from 'svelte'

    import {
        hasLowerCase,
        hasSymbols,
        hasNumbers,
        hasUpperCase,
        length
    } from '../store'

    import {
        LETTERS,
        NUMBERS,
        SYMBOLS
    } from '../constants'
    
    export let value = ''

    let container, elLinkDownload
    let psw_hystory = []

    function createPassword(preserve_log = false) {
        preserve_log && value && (psw_hystory = [value, ...psw_hystory.slice(0, 9)])
        value = generatePassword()
        setLinkDownloadHref(value)
        return value
    }

    function generatePassword() {
        let psw = ''
        let alphabet = ''

        if ($hasLowerCase) alphabet += LETTERS
        if ($hasUpperCase) alphabet += LETTERS.toUpperCase()
        if ($hasSymbols) alphabet += SYMBOLS
        if ($hasNumbers) alphabet += NUMBERS

        if (alphabet.length) for (let i = 0; i < $length; i++) {
            psw += alphabet[Math.round(Math.random() * (alphabet.length - 1))]
        }

        return psw
    }

    function setLinkDownloadHref(pass, type = "text/plain;charset=utf-8") {
        URL.revokeObjectURL(elLinkDownload.href)
        let hash = CryptoJS.SHA1(pass)
        let data = `admin:{SHA}${hash.toString(CryptoJS.enc.Base64)}`
        let file = new File([data], {type})
        let url = URL.createObjectURL(file)
        elLinkDownload.href = url
    }

    function selectNode(node) {
        if (document.body.createTextRange) {
            const range = document.body.createTextRange()
            range.moveToElementText(node)
            range.select()
        } else if (window.getSelection) {
            const selection = window.getSelection()
            const range = document.createRange()
            range.selectNodeContents(node)
            selection.removeAllRanges()
            selection.addRange(range)
        } else {
            console.warn("Could not select text in node: Unsupported browser.")
        }
    }

    function sendEmail() {
        let body = value
        let subject = "Ваш новый пароль"
        let to = prompt("Введите адрес электропочты:")

        fetch('http://password.protosite.rocks/send-mail.php', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify({
                to,
                body,
                subject
            })
        })
        .then(response => response.json())
        .then(result => {
            if (result.meta.code == 200) {
                alert("Письмо успешно отправлено.")
            } else {
                alert("Письмо не было отправлено из-за неизвестной ошибка сервера.")
            }
        })
    }

    onMount(() => {
        hasLowerCase.subscribe(() => createPassword())
        hasSymbols.subscribe(() => createPassword())
        hasNumbers.subscribe(() => createPassword())
        hasUpperCase.subscribe(() => createPassword())
        length.subscribe(() => createPassword())
        createPassword()
    })
</script>

<section>
    <h2 bind:this={container} on:click|preventDefault={() => selectNode(container)} class="o-password" style="min-width: {value.length}ch;">
        {value}
    </h2>
    <a href="#generate-password" class="c-button-icon u-margin-left" on:click|preventDefault={() => createPassword(true)}>
        <i class="iconic" data-glyph="reload"></i>
    </a>
    <a href="#send-email" class="c-button-icon u-margin-left" on:click|preventDefault={() => sendEmail()}>
        <i class="iconic" data-glyph="envelope-closed"></i>
    </a>
    <a bind:this={elLinkDownload} download="_.htpasswd" title="Скачать файл .htpasswd" href="#download-htpasswd" class="c-button-icon u-margin-left">
        <i class="iconic" data-glyph="data-transfer-download"></i>
    </a>
    <br>
    <p>
        Сгенерированный пароль можно скопировать или отправить по почте, а также скачать файл .htpasswd для ограничения доступа к интернет-ресурсам.
    </p>
    {#if psw_hystory.length > 0}
    <section>
        <h5>История:</h5>
        <ul>
        {#each psw_hystory as psw_hystory_item}
            <li class="u-visible-toggle">
                <span class="u-display-inline-block" style="min-width: {psw_hystory_item.length}ch;">
                    {psw_hystory_item}
                </span>
                <a href="#remove-item" class="u-hidden-hover" on:click|preventDefault={e => e.currentTarget.parentNode.remove()}>
                    <i class="iconic" data-glyph="trash"></i>
                </a>
            </li>
        {/each}
        </ul>
    </section>
    {/if}
</section>

<style>
    .o-password {
        display: inline-block;
        outline: 0.1rem dotted grey;
        text-align: center;
        cursor: pointer;
    }
	
    @media screen and (max-width: 980px) {
        .o-password {
            word-break: break-all;
        }
    }

</style>
