<script>
    import Password from './Password.html'
    import PasswordList from './PasswordList.html'
    
    import { onMount } from 'svelte'

    import {
        LETTERS,
        NUMBERS,
        SYMBOLS
    } from '../constants'

    import {
        hasLowerCase,
        hasSymbols,
        hasNumbers,
        hasUpperCase,
        length
    } from '../store'

    let psw, psw_hystory = []

    function createPassword(preserve_log = false) {
        preserve_log && psw && (psw_hystory = [psw, ...psw_hystory.slice(0, 9)])
        psw = generatePassword()
        return psw
    }

    function generatePassword() {
        let psw = ''
        let alphabet = ''

        if ($hasLowerCase) alphabet += LETTERS
        if ($hasUpperCase) alphabet += LETTERS.toUpperCase()
        if ($hasSymbols) alphabet += SYMBOLS
        if ($hasNumbers) alphabet += NUMBERS

        if (alphabet.length) for (let i = 0; i < $length; i++) {
            psw += alphabet[Math.round(Math.random() * (alphabet.length - 1))]
        }

        return psw
    }

    onMount(() => {
        hasLowerCase.subscribe(() => createPassword())
        hasSymbols.subscribe(() => createPassword())
        hasNumbers.subscribe(() => createPassword())
        hasUpperCase.subscribe(() => createPassword())
        length.subscribe(() => createPassword())
        createPassword()
    })
</script>


<section>
    <a href="#generate-password" class="c-button-icon" on:click|preventDefault={() => createPassword(true)}>
        <i class="iconic" data-glyph="reload"></i>
    </a>
    <Password bind:value={psw} />
    <br>
    <p>
        Сгенерированный пароль можно скопировать или отправить по почте,
        а также скачать файл .htpasswd для ограничения доступа к интернет-ресурсам.
    </p>
    <PasswordList caption='История' bind:list={psw_hystory} />
</section>

<style>
    .c-button-icon {
        display: inline-block;
        margin-right: var(--space-md);
    }

    .c-button-icon .iconic::before {
        font-size: var(--text-xl);
    }

</style>