<script>
    export let caption = 'заголовок списка'
    export let list = []
</script>

<section aria-hidden="{!list.length}">
    <h5>{caption}:</h5>
    <ul>
    {#each list as item}
        <li class="u-visible-toggle">
            <span class="u-display-inline-block" style="min-width: {item.length}ch;">
                {item}
            </span>
            <a href="#remove-item" class="u-hidden-hover" on:click|preventDefault={e => e.currentTarget.parentNode.remove()}>
                <i class="iconic" data-glyph="x"></i>
            </a>
        </li>
    {/each}
    </ul>
</section>