<script>
    export let caption = 'заголовок списка'
    export let list = []
</script>

<section aria-hidden="{!list.length}">
    <h5>{caption}:</h5>
    <ul class="c-list">
    {#each list as item}
        <li class="u-visible-toggle">
            <span class="password" style="min-width: {item.length}ch;">
                {item}
            </span>
            <a href="#remove-item" class="u-margin-xs-left u-hidden-hover" on:click|preventDefault={e => e.currentTarget.parentNode.remove()}>
                <i class="iconic" data-glyph="x-thin"></i>
            </a>
        </li>
    {/each}
    </ul>
</section>

<style>
    .password {
        display: inline-block;
        font-family: var(--font-monospace);
        font-size: var(--text-lg);
        font-weight: 400;
    }
	
    @media screen and (max-width: 980px) {
        .container {
            word-break: break-all;
        }
    }

</style>