<script>
    import CryptoJS from 'crypto-js'
    
    export let value = ''
    let container, elLinkDownload

    function getLinkDownloadUrl(pass, type = "text/plain;charset=utf-8") {
        let hash = CryptoJS.SHA1(pass)
        let data = `admin:{SHA}${hash.toString(CryptoJS.enc.Base64)}`
        let file = new File([data], {type})
        return URL.createObjectURL(file)
    }

    function selectNode(node) {
        if (document.body.createTextRange) {
            const range = document.body.createTextRange()
            range.moveToElementText(node)
            range.select()
        } else if (window.getSelection) {
            const selection = window.getSelection()
            const range = document.createRange()
            range.selectNodeContents(node)
            selection.removeAllRanges()
            selection.addRange(range)
        } else {
            console.warn("Could not select text in node: Unsupported browser.")
        }
    }

    function sendEmail() {
        let body = value
        let subject = "Ваш новый пароль"
        let to = prompt("Введите адрес электропочты:")

        fetch('http://password.protosite.rocks/send-mail.php', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify({
                to,
                body,
                subject
            })
        })
        .then(response => response.json())
        .then(result => {
            if (result.meta.code == 200) {
                alert("Письмо успешно отправлено.")
            } else {
                alert("Письмо не было отправлено из-за неизвестной ошибка сервера.")
            }
        })
    }
</script>

<div class="u-display-inline-block">
    <span bind:this={container} on:click|preventDefault={() => selectNode(container)} class="password" style="min-width: {value.length}ch;">
        {value}
    </span>
    <a href="#send-email" class="c-button-icon u-margin-left" on:click|preventDefault={() => sendEmail()}>
        <i class="iconic" data-glyph="envelope-closed"></i>
    </a>
    <a bind:this={elLinkDownload} href="{getLinkDownloadUrl(value)}" download="_.htpasswd" title="Скачать файл .htpasswd" class="c-button-icon u-margin-left">
        <i class="iconic" data-glyph="data-transfer-download"></i>
    </a>
</div>

<style>
    .password {
        display: inline-block;
        text-align: center;
        font-family: var(--font-monospace);
        font-size: var(--text-xxl);
        font-weight: 500;
        cursor: pointer;
        outline: 0.1rem dotted grey;
    }
	
    @media screen and (max-width: 980px) {
        .container {
            word-break: break-all;
        }
    }

</style>
