<script>
    import {
        hasLowerCase,
        hasSymbols,
        hasNumbers,
        hasUpperCase,
        length
    } from '../store'

    import {
        LETTERS,
        NUMBERS,
        SYMBOLS
    } from '../constants'
    
    export let value = ''

    let container
    let psw_hystory = []

    function createPassword(preserve_log = false) {
        preserve_log && value && (psw_hystory = [value, ...psw_hystory.slice(0, 9)])
        value = generatePassword()
    }

    function generatePassword() {
        let psw = ''
        let alphabet = ''

        if ($hasLowerCase) alphabet += LETTERS
        if ($hasUpperCase) alphabet += LETTERS.toUpperCase()
        if ($hasSymbols) alphabet += SYMBOLS
        if ($hasNumbers) alphabet += NUMBERS

        if (alphabet.length) for (let i = 0; i < $length; i++) {
            psw += alphabet[Math.round(Math.random() * (alphabet.length - 1))]
        }

        return psw
    }

    function selectNode(node) {
        if (document.body.createTextRange) {
            const range = document.body.createTextRange()
            range.moveToElementText(node)
            range.select()
        } else if (window.getSelection) {
            const selection = window.getSelection()
            const range = document.createRange()
            range.selectNodeContents(node)
            selection.removeAllRanges()
            selection.addRange(range)
        } else {
            console.warn("Could not select text in node: Unsupported browser.")
        }
    }

    hasLowerCase.subscribe(() => createPassword())
    hasSymbols.subscribe(() => createPassword())
    hasNumbers.subscribe(() => createPassword())
    hasUpperCase.subscribe(() => createPassword())
    length.subscribe(() => createPassword())
</script>

<section>
    <h2 bind:this={container} on:click|preventDefault={() => selectNode(container)} class="o-password" style="min-width: {value.length}ch;">
        {value}
    </h2>
    <a href="#generate-password" class="c-button-icon u-margin-left" on:click|preventDefault={() => createPassword(true)}>
        <i class="iconic" data-glyph="reload"></i>
    </a>
    <br>
    {#if psw_hystory.length > 0}
        <ul>
        {#each psw_hystory as psw_hystory_item}
            <li>{psw_hystory_item}</li>
        {/each}
        </ul>
    {/if}
</section>

<style>
    .o-password {
        display: inline-block;
        outline: 0.1rem dotted grey;
        text-align: center;
        cursor: pointer;
    }

    @media screen and (max-width: 980px) {
        .o-password {
            word-break: break-all;
        }
    }

</style>
